.flex {
    display: flex;
}
.font-bold {
    font-weight: 700;
}
.h-full {
    height: 100%;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.w-full {
    width: 100%;
}
