.flex {
    display: flex;
}
.font-bold {
    font-weight: 700;
}
.grid {
    color: red;
}
.h-full {
    height: 100%;
}
.happy {
    color: red;
}
.hi {
    color: red;
}
.hidden {
    color: red;
}
.hover {
    color: red;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.no {
    color: red;
}
.sad {
    color: red;
}
.test {
    color: red;
}
.text-3xl {
    font-size: 1.875rem; line-height: 2.25rem;
}
.w-full {
    width: 100%;
}
.work {
    color: red;
}
.wow {
    color: red;
}
.yes {
    color: red;
}
